/* 
#15038C 1st color
#0D0259 2nd color
#8278BF 3rd color
#F27405 orange 'highlight'
#F2F2F2 white
#363540 dark
#AAA3D9 grey 'for muted coloring'
#DFDCF2 grey 2 'may it's background!!'
 */

html body {
    font-family: lato !important;
    background-color: #F0F5F9;
    color: #1a1a1a;
    overflow-x: hidden;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #fff !important;
}

.img-login{
    position: absolute;
    top: -50%;
    left: 8%;
    width: 110px;
}

.dropdown-menu{
    min-width: 120px;
    border: 1px solid #eee;
    background-color: #2c3e50;
}

.dropdown-menu a{
    color: #eee !important;
}

.dropdown-menu a:hover{
    color: #2c3e50 !important;
}

.jumbotron {
    padding-bottom: 5px;
    padding-top: 25px;
    background-color: #2C3E50;
    color: #eee;
    border-radius: 0px;
}

.text-login{
    margin-top: 120px;
}


.text-login p {
    font-size: 22px;
}

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    font-size: 15px;
    border: 2px solid #2C3E50;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 4px 4px 4px #0000003f;
    padding: 30px;
}
  
  .heading {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
    color: #2c3e50;
    letter-spacing: 1px;
  }
  
  .form {
    margin-top: 20px;
  }
  
  .form .input {
    width: 100%;
    background: white;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: 4px 4px 5px  #0000001f;
    border-inline: 2px solid transparent;
  }
  
  .form .input::-moz-placeholder {
    color: rgb(170, 170, 170);
  }
  
  .form .input::placeholder {
    color: rgb(150, 150, 150);
  }
  
  .form .input:focus {
    outline: none;
    border-inline: 2px solid #2c3e50;
  }
  
  .form .login-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: #2c3e50;
    color: white;
    padding-block: 15px;
    margin: 20px auto;
    border-radius: 20px;
    border: none;
    transition: all 0.2s ease-in-out;
  }
  
  .form .login-button:hover {
    transform: scale(1.03);
  }
  
  .form .login-button:active {
    transform: scale(0.95);
  }
  

/* 
.mainphoto {
    left: 15%;
    margin: 20px;
    background: transparent;
}

.mainbla {
    left: 20%;
}

.login {
    background-color: #15038C;
    width: 80%;
    height: auto;
    border: 2px solid #8278BF;
    border-radius: 30px;
}

.form-control {
    height: 40px;
    box-shadow: none;
    color: #969fa4;
}

.form-control:focus {
    border-color: #5cb85c;
}

.form-control,
.btn {
    border-radius: 3px;
}
*/
.jumbotron-signup{
    background-color: #2C3E50;
    color: #eee;
    border-radius: 0px;
}

.signup-form .form-control:focus{
    border: 1px solid #2c3e50;
    color: #2C3E50;
}

.signup-form {
    max-width: 450px;
    margin: 0 auto;
    padding: 30px;
    font-size: 15px;
    border: 2px solid #2C3E50;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 4px 4px 4px #0000003f;
    padding: 30px;
}

.signup-form h2 {
    color: #2C3E50;
    margin-top: 5px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 550;
}


.signup-form .hint-text {
    color: #999;
    margin-bottom: 30px;
    text-align: center;
}

.signup-form .form-group {
    margin-bottom: 20px;
}

.signup-form input[type="checkbox"] {
    margin-top: 3px;
}

.signup-form .btn {
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    max-width: 80%;
    background-color: #2c3e50;
    color: #eee;
    transition: 0.2s;
}

.signup-form .btn:hover{
   transform: scale(1.03);
}

.signup-form .row div:first-child {
    padding-right: 10px;
}

.signup-form .row div:last-child {
    padding-left: 10px;
}

.signup-form a {
    color: #fff;
    text-decoration: underline;
}

.signup-form a:hover {
    text-decoration: none;
}

.signup-form form a {
    color: #5cb85c;
    text-decoration: none;
}

.signup-form form a:hover {
    text-decoration: underline;
} 

.navbar {
    background-color: #2C3E50 !important;
    min-height: 80px;
}

.navbar-brand {
    color: #F2F2F2;
    font-size: 23px;
    font-weight: 550;
    letter-spacing: 1px;
}

.navbar-brand:hover {
    color: #F2F2F2;
}
/* 
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #F27405;
} */

.nav-link {
    color: #eee;
    transition: 0.2s;
    margin: 0 10px;
    font-size: 19px;
}

.nav-link:hover{
    color: #eee;
    transform: scale(1.03);
}

.username-nav{
    background: #eee ;
    color: #2C3E50;
    border-radius: 12px;
    padding: 8px;
    font-size: 16px;
    font-weight: 550;
    margin: 0 40px 0 10px;
}

.username-nav:hover{
    color: #2C3E50;
}

.search-btn{
    color: #eee;
    transition: 0.2s;
}

.search-btn:hover{
    color: #eee;
}

li.nav-item.dropdown::marker {
    display: none !important;
    font-size: 0;
}

.search-bar{
    background-color: #eeeeee3f;
}

.form-control:focus{
    color: #eee;
    border: none;
    box-shadow: none;
    background-color: #eeeeee3f;
}

.search-bar::placeholder{
    color: #eee !important;
}

.cover {
    height: 60vh;
    width: 100vw;
    border-radius: 0px 0px 11px 11px;
    filter: brightness(0.7);
}

.profilePic img {
 
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 50%;
    min-width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20vh;
    background-color: #eee;
    border: 1px solid #2C3E50;
    padding: 10px;
}

.profileHeader .profilePic .changeimg {
    display: contents;
    margin-left: auto;
    margin-right: auto;
    height: 36px;
    width: 36px;
    background-color: #8278BF;
    border-radius: 50%;
}

.infoNav {
    padding: 10px;
    align-content: center;
    text-align: center;
}

.infoNav h3 {
    font-size: 200%;
}

.chatBtn {
    width: 60%;
    margin: 40px auto;
    border-radius: 5px;
    background-color: #eee;
    color: #2C3E50;
    transition: 0.2s;
    padding: 3px;
    border: none;
}

.chatBtn:hover {
    background-color: #2C3E50;
    border: 1px solid #eee;
    color: #eee;
}

.btn input {
    display: none;
}

textarea {
    width: 100%;
    border: none;
    resize: none;
    border-radius: 0px 0px 10px 10px;
    margin-top: 2px;
}

.PostPublisher {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    position: relative;
    left: 25px;
}

#download {
    width: 60%;
    margin: 12px;
    border: 1px solid #2C3E50;
    background-color: #2C3E50;
    color: #eee;
    transition: 0.3s;
}

#download:hover{
    transform: scale(1.03);
}

.post {
    padding: 5px;
    margin: 40px;
    border: 2px solid #2C3E50; 
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 3px 3px 4px #0000003f;
    transition: 0.2s;
}

.post:hover{
    box-shadow: none;
    transform: scale(1.01);
}

.post img{
    border: 1px solid #2C3E50;
}

.doctor-name{
    margin: 15px 0;
    padding: 5px 0;
    text-align: center;
}

.doctor-name a{
    text-decoration: none;
    color: #2c3e50;
    font-weight: 550;
    transition: 0.1s;
}

.doctor-name a:hover{
    color: #000;
}

/* profile page */
.notification {
    display: flex;
    height:250px;
    padding:15px;
    flex-direction: column;
    isolation: isolate;
    position: relative;
    background: #2C3E50df;
    border-radius: 1rem;
    overflow: hidden;
    font-size: 16px;
    margin: 20px 0;
    box-shadow: 5px 5px 4px #0000005f;
    transition: 0.2s;
  }

  .notification:hover{
    box-shadow: none;
  }

  .notification:after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: #eee;
    transition: transform 300ms ease;
    z-index: 4;
  }
  
  .notification:hover:after {
    transform: translateX(0.15rem)
  }
  
  .notititle {
    color: #eee;
    padding: 0.65rem 0.25rem 0.4rem 1.25rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: transform 300ms ease;
    z-index: 5;
  }
  
  .notification:hover .notititle {
    transform: translateX(0.15rem)
  }
  
  .notibody {
    color: #eee;
    padding: 0 1.25rem;
    transition: transform 300ms ease;
    z-index: 5;
  }
  
  .notibody div{
      margin: 8px;
  }
  
  .notification:hover .notibody {
    transform: translateX(0.25rem)
  }
  
  
  .note {
    color: #000;
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 0.9rem;
    width: 75%;
  }
  

  a.username {
    text-decoration: none;
    cursor: pointer;
    color: #363540;
    padding-left: 10px;
    margin-left: 10px;
}

.username{
    font-weight: 550;
    color: #2C3E50;
    text-transform:capitalize;
    margin-bottom: 60px;
}

.btn-updateprof{
    background:  #2C3E50; 
    color: #eee;
    transition: 0.2s;
}


.btn-updateprof:hover{
    background:#eee; 
    color: #2C3E50;
    border: 1px solid #2c3e50;
    transform: scale(1.02);
}


.doctors-cards{
    display: flex !important;
    flex-wrap: wrap;
    margin-top: 100px;
    flex-direction: row;    
    justify-content:flex-start;
}


.doctor-card{
    border-radius: 10px;
    padding: 15px;
    background-color: #FFFFFF;
    border: 3px solid #2C3E507f; 
    width: 350px;
    margin: 10px;
    transition: 0.2s;
    box-shadow: 3px 3px 4px #0000003f;
} 

.doctor-card:hover{
    border: 3px solid #2C3E50; 
    transform: scale(1.01);
    box-shadow: none;
}

.doctor-card h2{
    color: #2C3E50 !important;
}

.doctor-card img{
    border-radius: 50%;
    border: 2px solid #2C3E50; 
}

.searchdoctor-form h1{
    margin: 25px 0;
    letter-spacing: 2px;
}

.searchdoctor-form button{
    border: 1px solid #2C3E50;
    background-color: #2C3E50;
    color: #eee;
    transition: 0.3s;
}

.searchdoctor-form button:hover{
    color: #eee;
    transform: scale(1.02);
}

.searchdoctor-form input{
    height: 38px;
    padding: 0 10px;
}

.post-aria{
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    border: 2px solid #2C3E50; 
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 3px 3px 4px #0000003f;
    max-width: 62%;
}

.hr-post{
    background-color: #2c3e50;
}

.courses-title{
    font-weight: 550;
    color: #2c3e50;
    letter-spacing: 2px;
}

.selectpdf label{
    border: 1px solid #2C3E50; 
    background-color: #eee;
    color: #2C3E50;
    height: 35px;
    margin:  0 10px;
}

.post-aria .form-control{
    max-width: 120px;
    height: 35px;
    border: 1px solid #2C3E50;
}

.post-aria .form-control:focus{
    border: 1px solid #2C3E50;
    background-color: #eee;
}

.post-aria textarea{
    max-width: 300px;
    height: 80px;
    border: 1px solid #000;
    margin: 20px 0;
    border-radius: 10px;
    padding: 10px;
}

.post-aria button{
    background-color: #2C3E50;
    color: #eee;
    width: 45%;
    margin: 20px 0;
    transition: 0.3s;
}

.post-aria button:hover{
    color: #eee;
    transform: scale(1.04);
}

@media screen and (max-width:720px) {
    .navbar navbar-expand-sm{
        background-color: #2c3e50;
    }
    .search-bar{
        width: 200px;
    }
    .navbar-toggler-icon{
        color: #eee;
        font-size: 30px;
    }
}